APP_NAME=GloveFlow Backend
APP_ENV=development
HOST=127.0.0.1
PORT=8000

DATA_MODE=mock
SERIAL_PORT=COM3
SERIAL_BAUDRATE=115200

WS_BROADCAST_HZ=30
MAX_ROLLING_WINDOW=300

DATABASE_URL=sqlite:///./gloveflow.db
